<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Localisation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Obtenir Localisation</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-button expand="block" (click)="getGeoLocation()">Obtenir localisation</ion-button>
    <p>Lattitude : <strong>{{lattitude}}</strong></p>
    <p>Longitude : <strong>{{longitude}}</strong></p>
  </div>
</ion-content>